@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&display=swap');

.about {
    width: 100%;
    background: linear-gradient(0deg, #41efff -7.6%, #0065fd 100%);
    padding-top: 60px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden
}

.routing {
    position: relative;
    top: -100px;
    height: 1px
}

.images-bg {
    position: relative
}

#about-bg {
    position: absolute;
    top: 100px;
    left: 10%
}

#about-bg-w {
    position: absolute
}

.main-sign-about {
    z-index: 100;
    display: inline;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

#span-hashtags {
    margin-top: 50px;
    text-align: left;
    width: 100%
}

.container-main {
    text-align: left
}

#span-education {
    margin-top: 60px;
    text-align: left;
    width: 100%
}

.line {
    color: #fff;
    background-color: #fff;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 2px;
    opacity: 1;
    border-radius: 10px
}

.icons {
    width: 112px;
    z-index: 10;
    opacity: .95;
    position: absolute
}

#span-program {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px
}

.cards-directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.upper-line {
    display: grid;
    margin-bottom: 10px;
    grid-template-columns:repeat(3, 1fr)
}

.down-line {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:auto auto
}

#span-directions {
    margin-top: 35px;
    text-align: center;
    margin-bottom: 30px
}

.directions-item {
    transform: scale(.95);
    transition: .3s ease-in-out
}

.cards-education {
    z-index: 20;
    display: flex;
    flex-direction: column;
    position: relative;
    right: -10px;
}

.upper-directions {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    box-sizing: border-box
}

.down-directions {
    display: grid;
    box-sizing: border-box;
    grid-template-columns:repeat(2, 1fr);
    gap: 0
}